<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hehe</title>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
</head>

<body>


<p><input type='text' name='a' /></p>
<p><input type='text' name='b' /></p>
<p><input type='text' name='c' /></p>
<p><a href='javascript:void(0);' name='submit'>submit</a></p>

<script type="text/javascript">
var script_root={{request.script_root|tojson|safe}};


$(function(){
	$("a[name='submit']").bind('click',function(e){
		$.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
            url:script_root+"/test_url",
            //提交的数据
            data:{a:"1",b:"2"},
            //返回数据的格式
            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
            //在请求之前调用的函数
            /*beforeSend:function(){$("#msg").html("logining");},*/
            //成功返回之后调用的函数             
            success:function(data){
            	$("input[name='c']").val(data.result);        
            },
            //调用执行后调用的函数
            /*complete: function(XMLHttpRequest, textStatus){
               alert(XMLHttpRequest.responseText);
               alert(textStatus);
                //HideLoading();
            },*/
            //调用出错执行的函数
            /*error: function(){
                //请求出错处理
            }*/        
         });
	});
});

</script>

</body>
</html>