{% extends "base.html" %}
{% import "_macro.html" as macro %}

{% block my_container %}
<h1 class="page-header">寻物#{{ record.id }}: </h1>
{{ macro.display_item(record, myMap, False) }}
<div class="contact_info">
  <p class="item-info">
    <b>联系人:&nbsp;</b>
    {{ record.user.student_name.decode("utf-8") }}<br>
    <b>联系方式类型:&nbsp;</b>
    {{ myMap[record.user.contact_type] }}<br>
    <b>联系方式:&nbsp;</b>
    {{ record.user.contact_way }}<br>
  </p>
</div>
{% if record.user_id == user.id %}
  <hr>
  <div>
  {% if not record.is_end %}
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#success-modal">成功</button>
  <a href="{{ url_for('page_lost_info_id_modify', id=record.id) }}"><button type="button" class="btn btn-primary">修改</button></a>
  {% endif %}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">删除</button>
  </div>
  <div class="modal fade bs-example-modal-sm" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="SuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">找回确认</h4>
        </div>
        <div class="modal-body">
          您确实找回了该失物吗?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <a href="{{ url_for('lost_info_id_end', id=record.id) }}"><button type="button" class="btn btn-success">已找回</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-sm" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">删除确认</h4>
        </div>
        <div class="modal-body">
          删除后不可恢复，确认要删除吗?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <a href="{{ url_for('lost_info_id_delete', id=record.id) }}"><button type="button" class="btn btn-danger">删除</button></a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endblock %}
