{% extends "base.html" %}

{% block my_container %}
<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 user-info">
    <div><a href="{{ url_for('page_user_information', id=user.id) }}">
    <img src="{{ url_for('static', filename='img/avatar')}}/{{ user.username[0] }}_230.png" class="img-rounded my-avatar" alt="{{ url_for('static', filename='img/default_230.png') }}" />
    </a></div>
    <h2>&nbsp;&nbsp;&nbsp;&nbsp;{{ user.username }} <small>{{ user.nickname.decode('utf-8') }}</small></h2>
    <hr class="divider">
    <div class="container">
      <div class="row">
        <a href="{{ url_for('page_user_records') }}" class="col-xs-4 col-sm-1 my-stat">
    			<strong class="my-stat-count">{{ user.lost_records.__len__() - user.count_end_records() }}</strong>
    			<span class="my-text-muted">Lost</span>
    		</a>
    		<a href="{{ url_for('page_user_records') }}" class="col-xs-4 col-sm-1 my-stat">
    			<strong class="my-stat-count">{{ user.count_end_records() }}</strong>
    			<span class="my-text-muted">Finished</span></a>
    		<a href="{{ url_for('page_user_records') }}" class="col-xs-4 col-sm-1 my-stat">
    			<strong class="my-stat-count">{{ user.lost_records.__len__() }}</strong>
    			<span class="my-text-muted">Total</span>
    		</a>
      </div>
      <div style="margin-bottom: 100px"></div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-9 user-panel">
    <hr class="divider">
    {% block user_panel %}
    {% endblock %}
  </div>
</div>
{% endblock %}
